  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Mayur College of Pharmacy, managed by Bapuji Education Society since 2005, is dedicated to offering top-tier education in pharmacy. With a strong emphasis on practical learning and industry relevance, we aim to nurture competent professionals. Our institution boasts experienced faculty and modern facilities, ensuring a conducive learning environment for aspiring pharmacists.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Cources</h6>
          <ul class="footer-links">
            <li><a routerLink="bpharm">B.Pharm</a></li>
            <li><a routerLink="diplomo">D.Pharm</a></li>
            
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/login">Administration</a></li>

            <li><a routerLink="about">About Us</a></li>
            <li><a routerLink="contactUs">Contact Us</a></li>
            <li><a routerLink="affiliations">Affiliations</a></li>
            <li><a routerLink="gallary">Gallery</a></li>
            
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by 
       <a href="#">Mayur College of pharmacy</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>