<app-banner [title]="'Bachelor in Pharmacy'"></app-banner>

<body>
  <div class="container">
    <h2 class="text-center my-4">Course Details</h2>

    <div class="row">
      <div class="col-md-6"data-aos="zoom-in" data-aos-duration="1000">
        <div class="course-image" >
          <img src="assets/bpharm-1.jpg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6">
        <p class="text-justify">
          <b>Duration:</b><br> 
          The B.Pharm course typically spans over a duration of four years, divided into eight semesters.<br>
          <br><b>Eligibility Criteria:</b><br>
          Pass in 12th class (10+2) with Science subjects, including Physics, Chemistry, and Biology/Mathematics.<br>
          Minimum aggregate marks requirement is 60% for admission.
 
        </div>
    </div>

    <!-- <div class="container">
     
        <h2 class="text-center my-4">Syllabus</h2>
        <div class="syllabus d-flex justify-content-center"data-aos="zoom-in" data-aos-duration="1000">
          <table>
            <thead>
              <tr>
                <th>Year</th>
                <th>Subjects</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>First Year</td>
                <td>
                  <ul>
                    <li>Anatomy and Physiology</li>
                    <li>Microbiology</li>
                    <li>Pharmacology</li>
                    <li>Nursing Foundations</li>
                    <li>Community Health Nursing</li>
                    <li>Medical-Surgical Nursing</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Second Year</td>
                <td>
                  <ul>
                    <li>Child Health Nursing</li>
                    <li>Mental Health Nursing</li>
                    <li>Obstetric Nursing</li>
                    <li>Research Methodology and Statistics</li>
                    <li>Medical-Surgical Nursing II</li>
                    <li>Nursing Education</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Third Year</td>
                <td>
                  <ul>
                    <li>Community Health Nursing II</li>
                    <li>Geriatric Nursing</li>
                    <li>Community Psychiatry</li>
                    <li>Nursing Administration and Management</li>
                    <li>Nursing Research and Statistics</li>
                    <li>Elective Clinical Specialization</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
      