<app-banner [title]="'Bachelor in Pharmacy'"></app-banner>

<style>
  
  .link-container {
             display: flex;
             align-items: center;
         }
         .link-container img {
             margin-right: 5px;
         }
         a {
             text-decoration: none;
             color: #000;
         }
         a:hover {
             text-decoration: underline;
         }
 </style>
<body>
  <div class="container">
    <h2 class="text-center my-4">Course Details</h2>

    <div class="row">
      <div class="col-md-6"data-aos="zoom-in" data-aos-duration="1000">
        <div class="course-image" >
          <img src="assets/bpharm-1.jpg" alt="Course Image">
          <br>
          <br>
          <img src="assets/B-PHARMA-SCOPE.jpeg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6">
        <p class="text-justify">
          <b>Duration:</b><br> 
          The B.Pharm course typically spans over a duration of four years, divided into eight semesters.<br>
          <br><b>Eligibility Criteria:</b><br>
          Candidates should have passed 10+2 examination with Physics and Chemistry as compulsory subjects along with one of the following subjects Mathematics/Computer Science /Biotechnology/ Biology with 40% marks (35% in case of candidates belonging to reserved category) in the above subjects taken together.
         <br> Candidates who have passed D.Pharm course are eligible for admission directly to II year B.Pharm.
               <br><br>  <b> Age :</b><br>  17 years and above as on 31st December of admission Year.

         <br><br><b>Industrial Tour & Training</b><br>
         A candidate, after completing III year are IV year shall undergo practical training in pharmaceutical Manufacturing House/ Approved hospital/ CSIR research laboratories for a period not less than 150 hours to be covered in not less than 45 days. They should submit two copies of the training report duly certified by the authorities of the training centre in which he/she undergoes training. Candidates studying in final year of the course shall visit several pharmaceutical Manufacturing Houses as a supplement to their academic training and submit a report to the Principal.
        <br><br>
        <b>Syllabus</b>
        <br>
        <table class="link-container" align="center">
              <tr>
                <td><img src="assets/pdf-icon.png" alt="" height="25px" width="25px"></td>
                <td><a href="assets/pdfs/bpharm.pdf">B.Pharm Syllabus</a></td>
              </tr>
            </table>

        </div>
    </div>

    <!-- <div class="container">
     
        <h2 class="text-center my-4">Syllabus</h2>
        <div class="syllabus d-flex justify-content-center"data-aos="zoom-in" data-aos-duration="1000">
          <table>
            <thead>
              <tr>
                <th>Year</th>
                <th>Subjects</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>First Year</td>
                <td>
                  <ul>
                    <li>Anatomy and Physiology</li>
                    <li>Microbiology</li>
                    <li>Pharmacology</li>
                    <li>Nursing Foundations</li>
                    <li>Community Health Nursing</li>
                    <li>Medical-Surgical Nursing</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Second Year</td>
                <td>
                  <ul>
                    <li>Child Health Nursing</li>
                    <li>Mental Health Nursing</li>
                    <li>Obstetric Nursing</li>
                    <li>Research Methodology and Statistics</li>
                    <li>Medical-Surgical Nursing II</li>
                    <li>Nursing Education</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Third Year</td>
                <td>
                  <ul>
                    <li>Community Health Nursing II</li>
                    <li>Geriatric Nursing</li>
                    <li>Community Psychiatry</li>
                    <li>Nursing Administration and Management</li>
                    <li>Nursing Research and Statistics</li>
                    <li>Elective Clinical Specialization</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
      