<app-banner [title]="'Bachelor in Pharmacy'"></app-banner>

<div class="container">
  <h2 class="text-center my-4">Course Details</h2>

  <div class="row">
    <div class="col-md-6">
      <div class="course-image">
        <img src="assets/bpharm-1.jpg" alt="Course Image" class="responsive-image img-fluid" />
        <br /><br />
        <img src="assets/B-PHARMA-SCOPE.jpeg" alt="Course Image" class="responsive-image img-fluid" />
      </div>
    </div>
    <div class="col-md-6">
      <p class="text-justify">
        <b>Duration:</b><br />
        The B.Pharm course typically spans over a duration of four years, divided into eight semesters.<br />
        <br />
        <b>Eligibility Criteria:</b><br />
        Candidates should have passed 10+2 examination with Physics and Chemistry as compulsory subjects along with one of the following subjects Mathematics/Computer Science/Biotechnology/Biology with 40% marks (35% in case of candidates belonging to reserved category) in the above subjects taken together.<br />
        Candidates who have passed D.Pharm course are eligible for admission directly to II year B.Pharm.<br /><br />
        <b>Age:</b><br />
        17 years and above as on 31st December of admission Year.<br />
        <br />
        <b>Industrial Tour & Training</b><br />
        A candidate, after completing III year or IV year shall undergo practical training in pharmaceutical Manufacturing House/Approved hospital/CSIR research laboratories for a period not less than 150 hours / to be covered in not less than 45 days. They should submit two copies of training report duly certified by the authorities of the training centre in which he/she undergoes training. Candidates studying in final year of the course shall visit several pharmaceutical Manufacturing houses as a supplement to their academic training and submit a report to the Principal.<br /><br />
        <b>Syllabus</b><br />
        </p>
      <div class="my-4">
        <div class="row justify-content-center">
          <div class="col-md-6 col-12 text-center">
            <!-- PDF button -->
            <button class="pdf-button mb-2">
              <a href="assets/pdfs/bpharm.pdf">
                <i class="fas fa-file-pdf" style="font-size: 25px; color:red;"></i>
                B.Pharm Syllabus
              </a>
            </button>

            <!-- Apply Now button -->
            <a href="#apply" class="apply-now-button">APPLY NOW</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
