@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

/* General styling */
.container {
  margin-top: 30px;
}

.course-image {
  text-align: center;
  margin-bottom: 20px;
}

.course-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

p {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  color: #1CB582;
}

@media (max-width: 768px) {
  .course-image img {
    max-height: 300px;
  }

  .pdf-button,
  .apply-now-button {
    width: 100%;
    max-width: 100%;
  }
}

/* Styling for buttons */
.pdf-button {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  color: inherit;
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.pdf-button a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.pdf-button i {
  margin-bottom: 5px; /* Space between icon and text */
}

.apply-now-button {
  display: block;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.apply-now-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
  color: white;
  text-decoration: none;
}
