
<!--
<div id="carouselExampleFade" class="carousel slide carousel-fade"data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="assets/image2.jpg" class="d-block w-100 opacity-50 img1" alt="...">
          <div class="carousel-overlay">
            <h1 data-aos="fade-right"data-aos-duration="1000">Mallige College of Nursing</h1>
          
            <h1 id="best">Best Nursing</h1>
            <h1 id="best">College In Banglore</h1>
            <button class="btn apply"id="apply"(click)="apply();">Apply Now</button>
          </div>
          
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="assets/image2.jpg" class="d-block w-100 opacity-50 img1" alt="...">
          <div class="carousel-overlay">
            <h1>Mallige College of Nursing</h1>
            <h1 id="best">Best Nursing</h1>
            <h1 id="best">College In Banglore</h1>
            <button class="btn apply"id="apply"(click)="apply();">Apply Now</button>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="assets/image4.jpg" class="d-block w-100 opacity-50 img1" alt="...">
          <div class="carousel-overlay">
        
            <h1>Mallige College of Nursing</h1>
               <h1 id="best">Best Nursing</h1>
               <h1 id="best">College In Banglore</h1>
            <button class="btn apply"id="apply"(click)="apply();">Apply Now</button>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
       
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
       
        <span class="visually-hidden">Next</span>
      </button>
    </div>-->

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" data-aos="fade-in" data-aos-duration="3000">
          <div class="carousel-item active image-container" data-bs-interval="5000">
              <img src="assets/Main.jpg"  class="d-block w-100 img-fluid" alt="...">
          
              <div class="carousel-overlay">
                <!-- <button class="btn apply" id="apply" onclick="apply();">Apply Now</button> -->
                <!-- <h1 data-aos="fade-right"data-aos-duration="1000">Mallige College of Nursing</h1>
          
                <h1 id="best">Best Nursing</h1>
                <h1 id="best">College In Banglore</h1> -->

                <span class="background">
                  <a
                  (click)="apply();"
                      class='button'
                  >
                      <svg>
                          <rect
                              x="0" y="0" 
                              fill="none"
                              width="100%"
                              height="100%"
                          />
                      </svg>
                      Apply Now
                  </a>            
              </span>
                 
              </div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
              <img src="assets/Phots1003.jpg" class="d-block w-100 img-fluid" alt="...">
              <div class="carousel-overlay">
                <!-- <h1 data-aos="fade-right"data-aos-duration="1000">Mayur College of pharmacy</h1>
          
                <h1 id="best">Best pharmacy</h1>
                <h1 id="best">College In Banglore</h1>-->
                <span class="background">
                  <a
                  (click)="apply();"
                      class='button'
                  >
                      <svg>
                          <rect
                              x="0" y="0" 
                              fill="none"
                              width="100%"
                              height="100%"
                          />
                      </svg>
                      Apply Now
                  </a>            
              </span>
                  <!-- <button class="btn apply" id="apply" onclick="apply();">Apply Now</button> -->
              </div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
              <img src="assets/Phots104.jpg" class="d-block w-100" alt="...">
              <div class="carousel-overlay">
                <!-- <h1 data-aos="fade-right"data-aos-duration="1000">Mallige College of Nursing</h1>
          
                <h1 id="best">Best Nursing</h1>
                <h1 id="best">College In Banglore</h1>-->
                <span class="background">
                  <a
                      (click)="apply();"
                      class='button'
                  >
                      <svg>
                          <rect
                              x="0" y="0" 
                              fill="none"
                              width="100%"
                              height="100%"
                          />
                      </svg>
                      Apply Now
                  </a>            
              </span>
                  <!-- <button class="btn apply" id="apply" onclick="apply();">Apply Now</button>  -->
              </div>
          </div>
      </div>
  
  </div>
  


  <div class="container-fluid" style="background-color: rgb(20, 10, 61); padding-top: 20px;padding-bottom: 10px; color: white;">
    <marquee direction="left" behavior="scroll" scrollamount="5" style="white-space: nowrap;">
      <p *ngFor="let i of announcments" style="display: inline-block; margin-right: 20px;"><em class="text-warning">{{i.title}} :</em> {{ i.description }} | </p> 
    </marquee>
  </div>
  




<!--
<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/image4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/image1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/image2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>-->










    <div class="container-fluid  my-5 d-flex justify-content-between">
        <div class="row">
          <div class="col-md-6 d-flex flex-column justify-content-center about"data-aos="zoom-in">  
            
            <!-- data-aos-duration="500" -->
            <h2>Mayur College of Pharmacy</h2>
            <p class="text-justify">Mayur College of Pharmacy, managed by Bapuji Education Society since 2005, is dedicated to offering top-tier education in pharmacy. With a strong emphasis on practical learning and industry relevance, we aim to nurture competent professionals. Our institution boasts experienced faculty and modern facilities, ensuring a conducive learning environment for aspiring pharmacists.</p>
   
          </div>
          <div class="col-md-6 image-half"data-aos="zoom-in">
            <img src="assets/building1.jpg" alt="Image">
          </div>
        </div>
      </div>
      

      <div class="container-fluid  my-5 d-flex justify-content-between">
        <div class="row">

          <div class="col-md-5 image-half"data-aos="zoom-in">
            <img src="assets/graduation.jpg" alt="Image">
          </div>


          <div class="col-md-7"data-aos="zoom-in" >
            <h2 class="heading">News & Announcements</h2>
           <div class="announcment">
            <div class="marquee" style="--item-count: {{ announcments.length }};">
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-center mb-3" *ngFor="let i of announcments">
            
                <div *ngIf="i.image !== null && i.image !== ''">   
<div id="container" class="my-3">	
	   
	<div class="product-details">
		
	<h1>{{i.title}}</h1>
			<p class="information">{{i.description}}<br>
      Date: {{i.date}} - {{i.month}} -{{i.year}}<br>
      Time: {{i.startTime}} - {{i.endTime}}</p>
</div>
	
<div class="product-image">
  <img [src]="'http://localhost:3000/uploads/events/' + i.image" alt="{{ i.title }}" class="aimaage" />
</div>
</div>
</div>


</div>
            </div>
       
            </div>
            </div>
          </div>
        </div>
      </div> 

      
      




    <!---
<div class="cou">
  <h1 class="text-center">Courses Offered</h1>
            
          <div class="container co">
            
            <div class="card"data-aos="fade-up" data-aos-duration="1000">
              <div class="box">
                <div class="content">
                  <h2>01</h2>
                  <h3>BSc Nursing</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          
            <div class="card"data-aos="fade-up" data-aos-duration="1000">
              <div class="box">
                <div class="content">
                  <h2>02</h2>
                  <h3>MSc Nursing</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          
            <div class="card"data-aos="fade-up" data-aos-duration="1000">
              <div class="box">
                <div class="content">
                  <h2>03</h2>
                  <h3>Diplomo Nursing</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      -->




      
<!--Start Course Search Section-->
<!--Gallery Section-->
<section class="gallery-section sp-three">
  <h1 class="text-center my-3 heading" >Courses Offered</h1>
  <div class="container"data-aos="fade-up">
     
         

      <div class="row filter-layout d-flex justify-content-center">
          <article class="col-xl-6 col-lg-6 col-sm-12 filter-item Consulting Growth"data-aos="flip-right">
              <div class="gallery-item">
                  <div class="image-box">
                      <img src="assets/dpharm2.jpg" alt="">
                      <div class="overlay">
                          <a class="link-btn" routerLink="diplomo">
                              <i class="fa fa-link"></i>
                          </a>
                      </div>
                  </div>
                  <div class="image-content">
                      <div class="date-box">
                          <h6>D.pharm</h6>
                      </div>
         
                      <div class="bottom-text">
                          <h6 class="text-center"><a routerLink="diplomo">Diploma in Pharmacy</a></h6>
                      </div>
                      <div class="info clearfix">
                          <div class="float-left"><p><i class="fa fa-calendar" aria-hidden="true"></i>Course Duration: 2 Years</p></div>
                          <div class="float-right"><p><i class="fa fa-user" aria-hidden="true"></i>60 Students</p></div>
                      </div>                       
                  </div>                        
              </div>                    
          </article>

          <article class="col-xl-6 col-lg-6 col-sm-12 filter-item Finance Marketing"data-aos="zoom-in">
              <div class="gallery-item">
                  <div class="image-box">
                      <img src="assets/bpharm-2.jpg" alt="">
                      <div class="overlay">
                          <a class="link-btn" routerLink="bpharm">
                              <i class="fa fa-link"></i>
                          </a>                                
                      </div>
                  </div>
                  <div class="image-content">
                      <div class="date-box">
                          <h6>B.Pharm</h6>
                      </div>
          
                      <div class="bottom-text">
                        <h6 class="text-center"><a routerLink="bpharm">Bachelor of Pharmacy</a></h6>
                    </div>
                      <div class="info clearfix">
                          <div class="float-left"><p><i class="fa fa-calendar" aria-hidden="true"></i>Course Duration: 4 Years</p></div>
                          <div class="float-right"><p><i class="fa fa-user" aria-hidden="true"></i>15 Students </p></div>
                      </div>                       
                  </div>                        
              </div>
          </article>



  </div>
  </div>
</section>
<!--End Gallery Section-->

<!--End Course Search Section-->
<div class="test my-5">
  <figure class="snip1533"data-aos="zoom-out">
    <figcaption>
      <blockquote>
        <p>"At Mayur College of Pharmacy, I received an exceptional education and hands-on experience, which empowered me with the skills and confidence needed to thrive in the field of pharmacy."</p>
      </blockquote>
      <h3>Deepak</h3>
      
    </figcaption>
  </figure>
  <figure class="snip1533"data-aos="zoom-out">
    <figcaption>
      <blockquote>
        <p>"Mayur College of Pharmacy has been instrumental in shaping my career with its comprehensive curriculum and supportive faculty. I'm grateful for the invaluable practical training that prepared me for real-world challenges in the pharmaceutical industry."</p>
      </blockquote>
      <h3>Karthik</h3>
     
    </figcaption>
  </figure>
  <figure class="snip1533"data-aos="zoom-out">
    <figcaption>
      <blockquote>
        <p>"Mayur college of Pharmacy's unwavering commitment to excellence and the supportive environment helped me become a competent and compassionate nurse." </p>
      </blockquote>
      <h3>Rajesh</h3>
      
    </figcaption>
  </figure> 

</div>


<div class="wrapper">
  <div class="scroll-cards">
    <h1 class="text-center heading my-5">Messages from Desk</h1>

    <article class="scroll-cards__item" aria-label="CEO">
      <p>"At Mayur College of Pharmacy, we are committed to nurturing the next generation of pharmacists and pharmaceutical scientists. Our focus on excellence, innovation, and ethical practices ensures that our students are well-prepared to meet the evolving challenges in the field of pharmacy."</p>
      <a routerLink="director">Read More..</a>
      <h3>[Director's Name]</h3>
      <h4>Director</h4>
    </article>

    <article class="scroll-cards__item" aria-label="Chairman">
      <p>"As Chairman of Mayur College of Pharmacy, I am proud to lead an institution that prioritizes academic rigor, professional ethics, and holistic development. Our commitment to providing quality education and fostering a culture of innovation sets us apart in the field of pharmaceutical sciences."</p>
      <a routerLink="chairman">Read More..</a>
      <h3>[Chairman's Name]</h3>
      <h4>Chairman</h4>
    </article>

    <article class="scroll-cards__item" aria-label="Principal">
      <p>"At Mayur College of Pharmacy, our mission is to empower students with knowledge, skills, and values to excel in the pharmacy profession. Our dedicated faculty and state-of-the-art facilities create an environment conducive to learning, research, and professional growth."</p>
      <a routerLink="principal">Read More..</a>
      <h3>[Principal's Name]</h3>
      <h4>Principal</h4>
    </article>
  </div>
</div>
  


<div class="banner ">
  <div class="row ">

  <div class="students col-sm-4 text-center" data-aos="flip-up"data-aos-duration="500" >
   <h2>
     100+
   </h2>
   <h3>Students</h3>
  </div>
  <div class="faculty col-sm-4 text-center" data-aos="flip-up" data-aos-duration="500">
   <h2>
     10+
   </h2>
   <h3>Faculty</h3>
  </div>

  <!-- <div class="placed col-sm-3 text-center" data-aos="flip-up" data-aos-duration="500">
   <h2>
     900+
   </h2>
   <h3>Students Placed</h3>
  </div> -->

  <div class="rank col-sm-4 text-center" data-aos="flip-up" data-aos-duration="500">
   <h2>
     5+
   </h2>
   <h3>Ranks</h3>
  </div>
</div>
 </div>
        
 <h1 class="text-center my-3 heading" >Affiliations/Recognitions</h1>
 <div class="images-selector d-flex justify-content-center my-4"data-aos="zoom-in">
  
  <a routerLink="affiliations" class="img-card img1 mx-2"></a>
  
  <a routerLink="affiliations" class="img-card img2"></a>
   
  <a routerLink="affiliations" class="img-card img3 mx-2"></a>  
  <!-- <a routerLink="affiliations" class="img-card img3 mx-2"></a>
   
  <a routerLink="affiliations" class="img-card img4"></a> -->
 </div>






  <div class="google-map my-4 container-fluid">
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13070.361896776813!2d77.4968230999349!3d13.109204025785386!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d3655555555%3A0x813f3dded5afca26!2sMALLIGE%20COLLEGE%20OF%20NURSING!5e0!3m2!1sen!2sin!4v1689527807115!5m2!1sen!2sin" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3882.13625655386!2d77.10691497405696!3d13.341799106655994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb02d7367e4643b%3A0xec8ab1d7e92ad642!2sMayur%20College%20of%20pharmacy!5e0!3m2!1sen!2sin!4v1710873444354!5m2!1sen!2sin" width="1500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>
    
    
    