<app-banner [title]="'Diploma in Pharmacy'"></app-banner>
<div class="container">
  

  <h2 class="text-center my-4">Course Details</h2>

  <div class="row m-4">
    <div class="col-md-6 d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-duration="1000">
      <div class="course-image">
        <img src="assets/dpharm.jpg" alt="Course Image">
        <br><br>
        <img src="assets/D-PHARMA-SCOPE.jpeg" alt="Course Image">
        <br><br>

        <div class="my-4">
          <div class="row justify-content-center">
            <div class="col-md-6 col-12 text-center">
              <button class="pdf-button mb-2">
                <a href="assets/pdfs/syllabus.pdf">
                  <i class="fas fa-file-pdf" style="font-size: 25px; color:red;"></i>
                  D.Pharm Syllabus
                </a>
              </button>
              <br>
              <a href="#apply" class="apply-now-button">APPLY NOW</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="col-md-6">
      <p class="text-justify">
        <b>Course Duration:</b><br> 
        2 years + practical training of 500 hours spread over a period of not less than 3 months in a government hospital / pharmacy/chemists & druggists.
        <br><br>

        <b>Eligibility:</b><br>  
        A pass in any of the following examinations with Physics and Chemistry as optional subjects.<br>
        Pre-university course / 10+2 / PDC / Intermediate / Higher Secondary examination in Science.
        <br><br>

        <b>Age:</b><br>
        17 Years and above as on 31st December of the year of admission.
        <br><br>

        <b>Attendance Requirement:</b><br>
        A minimum of 80% in both theory and practical classes is mandatory to get eligibility for sessional / internal assessment as well as annual examination.
        <br><br>

        <b>Examination:</b><br>
        Internal assessment / sessional examination: There will be three periodic sessional / internal assessment examinations in theory and practical during the academic year for maximum marks of 20 per subject. Average of the best two sessional marks will be considered.
        <br><br>

        <b>Board Exam:</b><br> 
        Examination will be conducted by the Board of Examination Authority, Drugs Control Department, Bengaluru. The first examination in a year will be the annual examination during May/June and the second is the supplementary examination during November/December.
        <br><br>

        <b>Hospital Training:</b><br> 
        After having appeared in the final examination of the second year, the student must undergo 500 hours of practical training in a government hospital / pharmacy / chemists & druggists which is recognised by the Pharmacy Council of India, New Delhi.
      </p>
    </div>
  </div>
</div>
