<app-banner [title]="'Diploma in Pharmacy'"></app-banner>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Course Details</title>
    <style>
        .course-image img {
            width: 100%;  
            height: 350px; 
            max-height: 350px; 
        }
        .course-image {
            margin-bottom: 20px; 
        }
        .link-container {
            margin-top: 20px; 
        }
        
        .pdf-button {
            border: none; 
            background: none;
            padding: 0; 
            cursor: pointer; 
            font-size: 16px; 
            display: inline-flex; 
            align-items: center; 
        }

        .pdf-button .fa-pdf {
            margin-right: 5px; 
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center my-4">Course Details</h2>

        <div class="row m-4">
            <div class="col-md-6 d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-duration="1000">
                <div class="course-image">
                    <img src="assets/dpharm.jpg" alt="Course Image">
                    <br><br>
                    <img src="assets/D-PHARMA-SCOPE.jpeg" alt="Course Image">
                    <br><br>
                    <!-- <table class="link-container" align="center">
                      <tr>
                          <td><i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i></td>
                          <td><a href="assets/pdfs/syllabus.pdf">D.Pharm Syllabus</a></td>
                      </tr>
                  </table> -->
                  <button class="pdf-button">
                    <a href="assets/pdfs/syllabus.pdf"><i class="fas fa-file-pdf" style="font-size: 25px;color:red;"></i></a> 
                    <a href="assets/pdfs/syllabus.pdf" style="text-decoration: none; color: inherit;">D.Pharm Syllabus</a>
                </button>
                </div>
            </div>

            <div class="col-md-6">
                <p class="text-justify">
                    <b>Course Duration:</b><br> 
                    2 years + practical training of 500 hours spread over a period of not less than 3 months in a government hospital / pharmacy/chemists & druggists.
                    <br><br>

                    <b>Eligibility:</b><br>  
                    A pass in any of the following examinations with Physics and Chemistry as optional subjects.<br>
                    Pre-university course / 10+2 / PDC / Intermediate / Higher Secondary examination in Science.
                    <br><br>

                    <b>Age:</b><br>
                    17 Years and above as on 31st December of the year of admission.
                    <br><br>

                    <b>Attendance Requirement:</b><br>
                    A minimum of 80% in both theory and practical classes is mandatory to get eligibility for sessional / internal assessment as well as annual examination.
                    <br><br>

                    <b>Examination:</b><br>
                    Internal assessment / sessional examination: There will be three periodic sessional / internal assessment examinations in theory and practical during the academic year for maximum marks of 20 per subject. Average of the best two sessional marks will be considered.
                    <br><br>

                    <b>Board Exam:</b><br> 
                    Examination will be conducted by the Board of Examination Authority, Drugs Control Department, Bengaluru. The first examination in a year will be the annual examination during May/June and the second is the supplementary examination during November/December.
                    <br><br>

                    <b>Hospital Training:</b><br> 
                    After having appeared in the final examination of the second year, the student must undergo 500 hours of practical training in a government hospital / pharmacy / chemists & druggists which is recognised by the Pharmacy Council of India, New Delhi.
                </p>
            </div>
        </div>
    </div>
</body>
</html>

      <!-- <div class="container">
       
          <h2 class="text-center my-4">Syllabus</h2>
          <div class="syllabus d-flex justify-content-center" data-aos="fade-up" data-aos-duration="2000">
            <table>
              <thead>
                <tr>
                  <th>Year</th>
                  <th>Subjects</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>First Year</td>
                  <td>
                    <ul>
                      <li>Anatomy and Physiology</li>
                      <li>Microbiology</li>
                      <li>Pharmacology</li>
                      <li>Nursing Foundations</li>
                      <li>Community Health Nursing</li>
                      <li>Medical-Surgical Nursing</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Second Year</td>
                  <td>
                    <ul>
                      <li>Child Health Nursing</li>
                      <li>Mental Health Nursing</li>
                      <li>Obstetric Nursing</li>
                      <li>Research Methodology and Statistics</li>
                      <li>Medical-Surgical Nursing II</li>
                      <li>Nursing Education</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Third Year</td>
                  <td>
                    <ul>
                      <li>Community Health Nursing II</li>
                      <li>Geriatric Nursing</li>
                      <li>Community Psychiatry</li>
                      <li>Nursing Administration and Management</li>
                      <li>Nursing Research and Statistics</li>
                      <li>Elective Clinical Specialization</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        


         -->