<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="assets/LAB 1.jpg" alt="Course Image" class="d-block w-100" > 
    </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Laboratory 1</h5>
        <p class="text-justify">The laboratories are completely equipped with items required as per in norms. All the laboratories are constructed with keeping in mind their compatibility as each laboratory is equipped with fresh air inlet and adequate space to accommodate students comfortably during their practical hours.
          <br><br>If there is one thing that the student communities across the world would agree, it would be about how monotonous learning theory alone can be. Students are constantly bombarded with the information and would feel cramped. The laboratories in Mayur College can be closely compared to the playground as the students are welcome to test their theory under the close guidance of our expert teachers and lab faculty.
        </p>
     
    </div>

    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/LAB 1.jpg" alt="Course Image" class="d-block w-100">
    </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Laboratory 2</h5>
        <p class="text-justify">The laboratories are completely equipped with items required as per in norms. All the laboratories are constructed with keeping in mind their compatibility as each laboratory is equipped with fresh air inlet and adequate space to accommodate students comfortably during their practical hours.
          <br><br>If there is one thing that the student communities across the world would agree, it would be about how monotonous learning theory alone can be. Students are constantly bombarded with the information and would feel cramped. The laboratories in Mayur College can be closely compared to the playground as the students are welcome to test their theory under the close guidance of our expert teachers and lab faculty.
        </p>
      
    </div>
    <div class="carousel-item">
      <img src="assets/LAB 1.jpg" alt="Course Image" class="d-block w-100">
    </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Laboratory 3</h5>
        <p class="text-justify">The laboratories are completely equipped with items required as per in norms. All the laboratories are constructed with keeping in mind their compatibility as each laboratory is equipped with fresh air inlet and adequate space to accommodate students comfortably during their practical hours.
          <br><br>If there is one thing that the student communities across the world would agree, it would be about how monotonous learning theory alone can be. Students are constantly bombarded with the information and would feel cramped. The laboratories in Mayur College can be closely compared to the playground as the students are welcome to test their theory under the close guidance of our expert teachers and lab faculty.
        </p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





<!-- <app-banner [title]="'Laboratory'"></app-banner>
<div class="container">
   

    <div class="row">
      <div class="col-md-6">
        <div class="course-image" >
          <img src="assets/LAB 1.jpg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-center my-4">Laboratory</h2>
        <p class="text-justify">The laboratories are completely equipped with items required as per in norms. All the laboratories are constructed with keeping in mind their compatibility as each laboratory is equipped with fresh air inlet and adequate space to accommodate students comfortably during their practical hours.
          <br><br>If there is one thing that the student communities across the world would agree, it would be about how monotonous learning theory alone can be. Students are constantly bombarded with the information and would feel cramped. The laboratories in Mayur College can be closely compared to the playground as the students are welcome to test their theory under the close guidance of our expert teachers and lab faculty.
        </p>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="course-image" >
            <img src="assets/LAB 1.jpg" alt="Course Image">
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="text-center my-4">Laboratory</h2>
          <p class="text-justify">The laboratories are completely equipped with items required as per in norms. All the laboratories are constructed with keeping in mind their compatibility as each laboratory is equipped with fresh air inlet and adequate space to accommodate students comfortably during their practical hours.
            <br><br>If there is one thing that the student communities across the world would agree, it would be about how monotonous learning theory alone can be. Students are constantly bombarded with the information and would feel cramped. The laboratories in Mayur College can be closely compared to the playground as the students are welcome to test their theory under the close guidance of our expert teachers and lab faculty.
         </p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="course-image" >
              <img src="assets/LAB 1.jpg" alt="Course Image">
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="text-center my-4">Laboratory</h2>
            <p class="text-justify">The laboratories are completely equipped with items required as per in norms. All the laboratories are constructed with keeping in mind their compatibility as each laboratory is equipped with fresh air inlet and adequate space to accommodate students comfortably during their practical hours.
              <br><br>If there is one thing that the student communities across the world would agree, it would be about how monotonous learning theory alone can be. Students are constantly bombarded with the information and would feel cramped. The laboratories in Mayur College can be closely compared to the playground as the students are welcome to test their theory under the close guidance of our expert teachers and lab faculty.
            </p>
          </div>
        </div> -->