<!-- <app-banner [title]="'Mayur College of Pharmacy'"></app-banner> -->


    <div class="gallery-image">
        <div class="img-box">
          <img src="./assets/cc1.jpeg" alt="image">
          <div class="description">
            <h3>Co-curricular Activity</h3>
            <p>Co-curricular Activity conducted for Dpharm students</p>
          </div>
        </div>
        <div class="img-box">
          <img src="./assets/cc2.jpeg" alt="image">
          <div class="description">
            <h3>Co-curricular Activity</h3>
            <p>Co-curricular Activity conducted for Dpharm students</p>
          </div>
        </div>
        <div class="img-box">
          <img src="./assets/cc3.jpeg" alt="image">
          <div class="description">
            <h3>Yoga Day</h3>
            <p>Yoga Day Celebrated</p>
          </div>
        </div>
        <div class="img-box">
          <img src="./assets/cc1.jpeg" alt="image">
          <div class="description">
            <h3>Co-curricular Activity</h3>
            <p>Co-curricular Activity conducted for Dpharm students</p>
          </div>
        </div>
      </div>
